[submodule "trio-signo-server"]
	path = trio-signo-server
	url = https://github.com/EIP-TEK89/trio-signo-server.git
[submodule "trio-signo-front"]
	path = trio-signo-front
	url = https://github.com/EIP-TEK89/trio-signo-front.git
[submodule "trio-signo-ai"]
	path = trio-signo-ai
	url = https://github.com/EIP-TEK89/trio-signo-ai.git
[submodule "trio-signo-mobile"]
	path = trio-signo-mobile
	url = https://github.com/EIP-TEK89/trio-signo-mobile.git
